@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
  margin:0;
  padding:0;
  border:0;
}

header {
  background-color: #ccbdbd; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding around the content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logohomelink {
  flex: 1;
}

.logohomelink img {
  max-width: 100%;
}


.logohomelink img {
  width: 100px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}

.rightnavigationbar {
  flex: 1;
  text-align: right;
  display: flex; /* Make the links display horizontally */
  justify-content: flex-end; /* Align links to the right */
}

.rightnavigationbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.rightnavigationbar li {
  display: inline-block; /* Display links horizontally */
  list-style-type: none; /* RemoveS the bullet */
  margin-right: 20px; /* Add right margin between items */
}

.rightnavigationbar a:first-child {
  margin-left: 0;
}

.bandname {
  color: #ec1c24;
  text-align: center;
}

.bandimage1 {
    height: 300px;
    background-color: #004b49;
    display: flex;
    justify-content: center;
    max-width: 80%; /* Ensures the div doesn't exceed the width of its container */
    margin: 50px auto; /* Adjust the margin as needed */
    padding: 0 20px;
  }



  .bandimage1 img {
    width: 100%;
    height: auto; /* Ensures the image retains its aspect ratio */
    max-height: 100%; /* Ensures the image doesn't exceed the height of its container */
    object-fit: contain; /* Maintains aspect ratio and ensures entire image is visible */
}

.bandhistory {
  margin: 0 auto; /* Center the section horizontally */
  padding: 20px; /* Add padding around the content */
  max-width: 80%; /* Set the maximum width based on bandimage1 */
}

.band-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  width: 45%;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

.member img {
  max-width: 50%;
  border-radius: 10px;
}

.member p {
  margin-top: 10px;
}

.signup-form {
  margin-top:150px;
  color:#fff;
  background-color:rgba(60, 60, 60, 0.6);
  max: width 700px;
  position:absolute;
  left:10%;
  padding:30px;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background-image: url('assets/img/imagewholeband1.jpg')
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}



  .social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: black;
    text-align: center;
   }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks li a{
    text-decoration:none;
  }
  
  footer p {
    font-size: 75%;
    color: black;
    text-align: center;
  }
  
  footer {
    position: absolute
    bottom: 0;
  }
